@media only screen and (max-width: 600px){
    #navbar{
        width: 600px;
    }
}
#welcome-section{
    height: 100vh;
    overflow: auto;
    background-color: cornflowerblue;
}

h1{
    padding: 300px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-size: 80px;
}

#projects{
    height: 10vh;
}

h3.project-tile{
    display: inline;
    margin: 60px;
    padding: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-size: 30px;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-size: 50px;
    color: lightskyblue;
}

#navbar{
    position: fixed;
    top: 0;
    width: 1625px;
    height: 80px;
    background-color: cornflowerblue;
}

#navbar h3{
    font-family: 'Courier New', Courier, monospace;
}

#about{
    position: fixed;
    top: 10px;
    right: 300px;
}

#work{
    position: fixed;
    top: 10px;
    right: 200px;
}

#contact{
    position: fixed;
    top: 10px;
    right: 70px;
}

h4{
    padding: 400px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-size: 50px;
    background-color: cornflowerblue;
}
